openai
httpx
pydantic
fastapi
python-dotenv
langchain_community
langchain_openai
uvicorn
langchain
tiktoken>=0.6.0
firebase_admin
numpy
selenium
beautifulsoup4
google-cloud-compute
google-cloud-storage
google-auth
tiktoken>=0.6.0  # otherwise the text-embedding-3-large model does not get recognized
faiss-cpu
cohere


